.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar:hover::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

/* Hide scrollbar on small screens */
@media (max-width: 640px) {
  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}
